.container {
  display: flex;
}

.container ul {
  list-style: none;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 40px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px -5px 10px #f0f0f0;
}

.container ul a {
  text-decoration: none;
  color: grey;
}

.container ul a:hover {
  color: black;
}

.container ul a.selected {
  color: black;
}
